<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="completeResult" class="jenky.codebuddy.models.restModels.CompleteResult">
        <constructor-arg ref="commit"/>
        <constructor-arg ref="score"/>
    </bean>

    <bean id="userService" class="jenky.codebuddy.dao.DatabaseService">
        <constructor-arg>
            <value type="java.lang.Class">jenky.codebuddy.models.databaseModels.User</value>
        </constructor-arg>
    </bean>

    <bean id="score" class="wildtornado.scocalc.objects.Score">
        
    </bean>

</beans>