<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://eu-cdbr-azure-west-d.cloudapp.net:3306/CodeBuddyDB</property>
        <property name="connection.username">b3f5726dc6f028</property>
        <property name="connection.password">ed99c6e3</property>

        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.c3p0.max_size">1</property>


        <mapping class="jenky.codebuddy.models.entities.Achievement"/>
        <mapping class="jenky.codebuddy.models.entities.Commit"/>
        <mapping class="jenky.codebuddy.models.entities.Company"/>
        <mapping class="jenky.codebuddy.models.entities.Item"/>
        <mapping class="jenky.codebuddy.models.entities.Metric"/>
        <mapping class="jenky.codebuddy.models.entities.Project"/>
        <mapping class="jenky.codebuddy.models.entities.Score"/>
        <mapping class="jenky.codebuddy.models.entities.User"/>

    </session-factory>
</hibernate-configuration>